<ion-content [fullscreen]="true">
  <div class="campaign-screen">
    <div class="campaign">
      <img src="../../../assets/images/Test-mock/campaign.png" alt="">
    </div>

    <div class="description">
      <ion-text>
        Queremos o melhor para cada membro de nossa comunidade. Juntos, podemos criar um ambiente onde todos possam
        prosperar. Marque a data em seu calendário e junte-se a nós neste dia especial. Vamos fazer da saúde uma
        prioridade e construir um futuro mais brilhante para todos!
        Contamos com a sua presença.
      </ion-text>
    </div>

    <div class="exit">
      <ion-button class="default-button" expand="block" (click)="close()">Voltar</ion-button>
    </div>
  </div>
</ion-content>
