<ion-content [fullscreen]="true">
  <div class="home-screen">
    <div class="campaign">
      <img src="../../../assets/images/Test-mock/campaign.png" alt="" (click)="openModalCampaign()">
    </div>

    <div class="cards">
      <h3>Olá {{user.name}}</h3>

      <ion-card>
        <div class="card-title">
          <ion-text>Cirurgia Ocular</ion-text>
        </div>
        <div class="card-body">
          <ion-text>Sua posição na fila: 01</ion-text>
          <ion-text>Status :
            <ion-chip color="success" [outline]="true">Disponível</ion-chip>
          </ion-text>
        </div>
      </ion-card>

      <ion-card>
        <div class="card-title">
          <ion-text>Cirurgia Ocular</ion-text>
        </div>
        <div class="card-body">
          <ion-text>Sua posição na fila: 01</ion-text>
          <ion-text>Status :
            <ion-chip color="danger" [outline]="true">Indisponível</ion-chip>
          </ion-text>
        </div>
      </ion-card>

      <ion-card>
        <div class="card-title">
          <ion-text>Cirurgia Ocular</ion-text>
        </div>
        <div class="card-body">
          <ion-text>Sua posição na fila: 01</ion-text>
          <ion-text>Status :
            <ion-chip color="warning" [outline]="true">Aguardando</ion-chip>
          </ion-text>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
